@import './variables';

#about-us {
  background-color: $bg-color;
  padding-bottom: 50px;
  h2 {
    padding-bottom: 10px;
  }
  .container {
    > div {
      display: flex;
      justify-content: space-around;
      > div {
        display: flex;
        flex-direction: column;
        width: 50%;
        > div {
          display: flex;
          justify-content: space-around;
          align-items: center;
          > div:first-child {
            width: 70%;
            text-align: center;
          }
          > div:last-child {
            width: 30%;
            text-align: center;
            font-size: 70px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 2600px) {
  #about-us {
    width: 2600px;
    margin: 0 auto;
  }
}
