@import './variables';

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  color: $color-white;
  a:first-child {
    transition: 0.3s;
    color: $color-white;
    &:hover {
      transition: 0.3s;
      color: $main-color;
      text-decoration: none;
    }
  }

  img {
    width: 45px;
    margin-left: 5px;
    object-fit: cover;
  }
  .booking {
    width: 50px;
  }
}

@media only screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    > div {
      padding-bottom: 10px;
    }
  }
}
