@import './variables';

#header {
  position: relative;
  height: 100vh;
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('~/images/17.jpg');
    background-size: cover;
    background-attachment: fixed;
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
  }
  .container {
    position: relative;

    height: 100%;
    z-index: 1080;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .menu {
      display: flex;
      width: 60%;
      list-style: none;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      > li {
        color: $color-white;
        padding: 40px 0;
        text: {
          align: center;
          transform: uppercase;
        }
        a {
          cursor: pointer;
          padding: 20px 10px;
          transition: 0.3s;
          text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
          font: {
            size: 16px;
            weight: bold;
            family: $font-Raleway;
          }
          &:hover {
            color: $main-color;
            transition: 0.3s;
          }
        }
        .active {
          color: $main-color;
        }
      }
    }
  }
}

@media only screen and (min-height: 1500px) {
  #header {
    width: 2600px;
    margin: 0 auto;
    height: 1000px;
  }
  .background-image {
    width: 2600px;
  }
}

@media only screen and (min-width: 2600px) {
  #header {
    width: 2600px;
    margin: 0 auto;
    height: 1000px;
    .background-image {
    }
  }
}

@media only screen and (max-height: 768px) {
  #header {
    height: 768px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  #header {
    .container {
      .menu {
        width: 100%;
      }
    }
  }
}
