@import './variables';

#header {
  position: relative;
  height: 100vh;
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('~/images/17.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
  }
  .container {
    position: relative;

    height: 100%;
    z-index: 1030;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .button-aside {
      display: none;
    }
    .menu {
      display: flex;
      width: 60%;
      list-style: none;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      > li {
        color: $color-white;
        padding: 40px 0;
        text: {
          align: center;
          transform: uppercase;
        }
        a {
          cursor: pointer;
          padding: 20px 10px;
          transition: 0.3s;
          text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
          font: {
            size: 16px;
            weight: bold;
            family: $font-Raleway;
          }
          &:hover {
            color: $main-color;
            transition: 0.3s;
          }
        }
        .active {
          color: $main-color;
        }
      }
    }
  }
}

@media only screen and (min-height: 1400px) {
  #header {
    width: 2600px;
    margin: 0 auto;
    height: 1000px;
  }
  .background-image {
    width: 2600px;
  }
}

@media only screen and (min-width: 2600px) {
  #header {
    width: 2600px;
    margin: 0 auto;
    height: 1000px;
    .background-image {
      background-attachment: initial;
      background-position: center;
    }
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) and (max-height: 768px) {
  #header {
    height: 100vh;
    .container {
      .menu {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-height: 500px) {
  #header {
    height: 500px;
  }
}

@media only screen and (max-width: 768px) {
  #header {
    position: relative;
    .container {
      padding: 0;
      justify-content: space-between;
      > div {
        position: relative;
        display: flex;
        img {
          width: 100%;
          height: 50%;
          object-fit: contain;
        }
      }
      div:first-of-type {
        align-items: flex-end;
        height: 30%;
      }
      div:last-of-type {
        height: 65%;
        align-items: flex-start;
      }
      .button-aside {
        display: block;
        position: fixed;
        top: 0;
        left: 10px;
        color: $color-white;
        font-size: 50px;
        // transition: 0.3s;
        background-color: transparent;
        border: none;
        cursor: pointer;
        i {
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        }
      }
      .show-button {
        left: 210px;
        transition: 0.3s;
      }
      .menu {
        position: fixed;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 200px;
        height: 100%;
        background-color: #fff;
        padding-top: 30px;
        left: -200px;
        // transition: 0.3s;
        z-index: 1090;
        > li {
          color: $font-color;
          padding: 0;
          text-align: left;
          width: 100%;

          > a {
            display: inline-block;
            width: 100%;
            text-shadow: none;
          }
        }
      }
      .menu-show {
        left: 0;
        transition: 0.3s;
      }
    }
  }
}
