@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

// colors
$color-white: #fff;
$main-color: #fcc150;
$bg-color: #f7f9f4;
$header-color: #212529;
$font-color: #8b8c8e;

// fonts
$font-Open: 'Open Sans', sans-serif;
$font-Lato: 'Lato', sans-serif;
$font-Merri: 'Merriweather', serif;
$font-Roboto: 'Roboto Slab', serif;
$font-Raleway: 'Raleway', sans-serif;
