@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

// colors
$color-white: #fff;
$main-color: #fcc150;

// fonts
$font-Open: 'Open Sans', sans-serif;
$font-Lato: 'Lato', sans-serif;
