* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@import './variables';
@import './header';
@import './home';
@import './about-us';
@import './live';
@import './lightbox';
@import './contact';
@import './contactForm';
@import './map';
@import './footer';
@import './goToTop';

h2 {
  color: $header-color;
  font: {
    size: 28px;
    weight: bold;
    family: $font-Raleway;
  }
  text: {
    align: center;
    transform: uppercase;
  }
  padding: 50px;
  margin: 0;
}

h3 {
  font: {
    size: 18px;
    // weight: bold;
    family: $font-Raleway;
  }
  text: {
    align: center;
    // transform: uppercase;
  }
  padding-bottom: 50px;
}

.swal2-container {
  // position: relative;
  z-index: 9999;
}
