* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@import './variables';
@import './header';
@import './home';

h2 {
  font: {
    size: 28px;
    weight: bold;
    family: $font-Raleway;
  }
  text: {
    align: center;
    transform: uppercase;
  }
  padding: 50px;
}
